@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*==================
    PAGE STYLES
==================*/

:root {
    --maincolor: #1b1464;
    --secondcolor: #f7931e;
    --black:#000

    --mainfont: 'Source Sans Pro', sans-serif;
    --headingfont: 'Quicksand', sans-serif;
    --thirdfont: 'Poppins', sans-serif;
}


body {
    font-family: var(--mainfont) !important
}

/*---header---*/

.brandimg img {
    border-radius: 100%;

}

.brandimg span {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--maincolor);
}

.brandimg span span {
    color: var(--secondcolor);
}

.custom_nav .nav-link{

    font-weight:500;
    color:var(--black) !important;
    font-size:14px;
    margin-left: 5px;
    margin-right:5px;


}