@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*==================
    PAGE STYLES
==================*/

:root {
    --maincolor: #1b1464;
    --secondcolor: #f7931e;
    --black:#000;

    --mainfont: 'Source Sans Pro', sans-serif;
    --headingfont: 'Quicksand', sans-serif;
    --thirdfont: 'Poppins', sans-serif;
}


body {
    font-family: var(--mainfont) !important
}

/*---header---*/

.brandimg img {
    border-radius: 100%;

}

.brandimg span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--maincolor);
}

.brandimg span span {
    color: var(--secondcolor);
}

.custom_nav .nav-link{
    font-weight:600;
    color:var(--black)!important;
    font-size:14px;
    margin-left: 5px;
    margin-right:5px;
    text-transform: uppercase;
}

.custom_nav .nav-link:hover{
    color: var(--secondcolor) !important;
}

/*=========================
    PAGE TITLE
===========================*/

.page-title h1{

    color:var(--secondcolor) !important;
    text-transform: uppercase;
    
}
/*=========================
    pixel-card
===========================*/

#myUL{
    list-style: none;
}

.pixel-card .left{
    width: 30% !important;
    background-image: url(../images/pxel4.png);
    background-color: var(--secondcolor);
    background-size: 100%;
    background-position: 0px 20px;
    background-repeat: no-repeat;

}



.pixel-card .right{
    width: 70% !important;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 5px 2px 5px 10px ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background: url(../images/pattren-01.jpg);
    background-size: cover;
    

}

.pixel-card .right a{
    text-decoration: none;
    color: var(--maincolor) !important;
    line-height: normal;
    
}

.pixel-card .left, .pixel-card .right {
    height: 120px;
}

/*=========================
    ai page
    ===========================*/
    #ai{
        list-style: none;
    }
#ai .card img{
    width: 100%;
    height: auto;
}


#ai .card-body a.category{
   
    background:var(--secondcolor) !important;
    padding: 3px 25px;
    position: absolute;
    top: -14px;
    border-radius: 4px;
    right: 12px;
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
}


#ai .card-body .card-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

#ai .card-body p{
    margin:0px
}