<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://www.strategyr.com" />
    <title>www.strategyr.com: Global Market Research Reports - Market Research Report Collections - Industry Analysis -
        Global Industry Analysts, Inc. Market Reports - Official Website</title>
    <meta name="description"
        content="Official Website - Global Industry Analysts, Inc. (GIA) is a reputed publisher of off-the-shelf market research. Recognized as one of the most consistently accurate forecasting company in the world, GIA currently serves more than 9,500 companies from 36 countries worldwide. The company was founded in 1987, initially recognized globally as a research boutique specializing in the medical industry. Over the past 25 years, the company expanded its coverage and now publishes extensively upon more than 180 major industries." />
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="jquery.range_influencer.css" />


<style>
.single-slider{
    display: block !important;
}

</style>


<script>
function myFunction(txtname,taxval) {
  // 01txtval.val(val);
   $("#"+txtname).val(taxval);
 // alert("The input value has changed. The new value is: " + val);
}
</script>



</head>


<body>

    <table class="table table-bordered mx-auto" style="width: 600px;" >
      
        <tbody>
            <!---ROW BEGIN-->
            <tr class="table_rows">
                <td>
                     <div class="w-100 d-flex my-2">

                        <div class="w-100 d-flex">
                        <div class="input_block">
                            
                            <input type="checkbox" data-toggle="collapse" data-target="#collapse_001" aria-expanded="true" aria-controls="collapseOne" class="mr-2"  >
                            </div>
                            <h4 class="font-weight-bold"><a href="https://www.strategyr.com/market-report-managed-mobility-services-mms-forecasts-global-industry-analysts-inc.asp" target="new" class="text-dark">Managed Mobility Services (MMS)</a> </h4>
                            <div class="rank_box"></div>
                            <input type="text" class="" value=""  id="01txtval"  />

                      </div>
                       
                        </div>



                    <div id="collapse_001" aria-expanded="false" class="collapse show" >
                        <div class="d-flex flex-wrap justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-end align-items-center  flex-row-reverse  my-3  ml-1"  id="crowd_rank_box">
                                <div class="col-3 mx-2">
                                 <input type="radio" name="q5" customatt="radio_option" id="01"  class="na_radio mx-2">
                                </div>
                           
                            <input type="text" class="single-slider col-2" value="8"  id="01Sval"  onchange="myFunction('01txtval',this.value)" style="display: block !important" />

                        </div>
                     </div>
                </td>
            </tr>

            <tr style="background-color: #ccc;">
                <td>
                     <div class="w-100 d-flex my-2">

                        <div class="w-100 d-flex">
                        <div class="input_block">
                            
                            <input type="checkbox" data-toggle="collapse" data-target="#collapse_001" aria-expanded="true" aria-controls="collapseOne" class="mr-2"  >
                            </div>
                            <h4 class="font-weight-bold"><a href="https://www.strategyr.com/market-report-managed-mobility-services-mms-forecasts-global-industry-analysts-inc.asp" target="new" class="text-dark">Managed Mobility Services (MMS)</a> </h4>
                            <input type="text" class="" value=""  id="02txtval" />

                      </div>
                       
                        </div>



                    <div id="collapse_001" aria-expanded="false" class="collapse show" >
                        <div class="d-flex flex-wrap justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-end align-items-center  flex-row-reverse  my-3  ml-1"  id="crowd_rank_box">
                                <div class="col-3 mx-2">
                                 <input type="radio" name="q5" customatt="radio_option" id="01"  class="na_radio mx-2">
                                </div>
                           
                            <input type="text" class="single-slider col-2" value="8" id="02Sval" onchange="myFunction('02txtval',this.value)" style="display: block !important"/> 

                        </div>
                     </div>
                </td>
            </tr>

          

           
        </tbody>
    </table>


</body>
<!----scripts---->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="jquery.range2.js"></script>

<script>
    $('.single-slider').jRange({
        from:1,
        to: 10,
        step: 0.5,
        scale: ['5','|','6','|','7','|','8','|','9','|','10'],
        format: '%s',
        width:310,
        showLabels:false,
        snap: true,
        
      
    });


</script>
<script>

    $(document).ready(function () {

        $('.inputselector').click(function (e) {
            $(this).parent().addClass('active');
        });

        $('.inputselector').focusout(function (e) {
            $(this).parent().removeClass('active');
        });
    })
</script>




<script>

    var windowWidth = $(window).width();

    if (windowWidth <= 768) {
        //Means the screen is mobile add a class 
        $("#Influencer_table tr td:nth-child(1) h4").attr('class', 'text-limit');
    }

    else {
        //Means screen is desktop or tablet 
        $("#Influencer_table tr td:nth-child(1) h4").removeAttr('text-limit');
    }


</script>

<script>
    $(document).ready(function () {
        $('.text-limit').limitText({
            length: 25
        });
    })

</script>


<script>
    $("#Influencer_table  tr td input:radio").click(function () {
        $(this).parent().parent().parent().parent().toggleClass("highlight")
    })


</script>

<script>
    $(document).load(function () {
        $("#Influencer_table  tr td input:radio:checked").parent().parent().parent().parent().toggleClass("highlight")
    })
</script>

<script>

       /* var acc = $(".released_abstract .accordion_rel");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel2 = this.nextElementSibling;
                    if (panel2.style.maxHeight) {
                        panel2.style.maxHeight = null;
                    } else {
                        panel2.style.maxHeight = panel2.scrollHeight + "px";
                    }
                });
            }*/

  
</script>
    

</html>